[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
  branch = master
[submodule "tmux/plugins"]
	path = tmux/plugins
	url = https://github.com/tmux-plugins/tpm
  branch = master
[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "zsh/externals/z.lua"]
  path = "zsh/externals/z.lua"
  url = https://github.com/skywind3000/z.lua.git
